@use '../../theme/utils';

.tier {
  display: flex;
  border: 4px solid var(--text-high);
  min-height: calc(8rem + utils.spacing(3));
  border-bottom: none;
  &:last-child {
    border-bottom: 4px solid var(--text-high);
  }

  @include utils.breakpoint-down('sm') {
    flex-direction: column;
  }

  &:hover {
    cursor: grab;
  }

  &.draggable-mirror {
    cursor: grabbing;
    & .product__content {
      transform: scale(1.1);
    }
  }

  &.draggable-source--is-dragging {
    transform: translateZ(0);
    opacity: 0.5;
  }

  &__title-container {
    display: flex;
    flex-direction: column;
    width: 4rem;
    align-items: center;
    justify-content: center;
    border-right: 4px solid var(--text-high);

    @include utils.breakpoint-down('sm') {
      border-right: 0;
      width: initial;
      gap: utils.spacing(2);
      justify-content: start;
      padding-left: utils.spacing(2);
      border-bottom: 4px solid var(--text-high);
      flex-direction: row;
    }
  }

  &__title {
    font-size: 2.5rem;
    font-weight: 800;
  }

  &__label {
    font-size: 0.75rem;
    font-weight: 500;
  }

  &__item-container {
    $dot-space: utils.spacing(1);
    $dot-size: 2px;
    padding: utils.spacing(1);
    flex: 1;
    background: linear-gradient(
          90deg,
          var(--background) calc($dot-space - $dot-size),
          transparent 1%
        )
        center,
      linear-gradient(
          var(--background) calc($dot-space - $dot-size),
          transparent 1%
        )
        center,
      var(--text-high);
    background-size: $dot-space $dot-space;
    flex-wrap: wrap;
    display: flex;
    gap: utils.spacing(2);
  }
}
