@use '../../theme/utils';

.home {
  box-sizing: border-box;
  @include utils.breakpoint-up('md') {
    display: grid;
    grid-template-columns: minmax(0, 1fr) auto;
    height: 100vh;
  }
  @include utils.breakpoint-down('md') {
    padding-bottom: calc(15rem + utils.spacing(2));
  }
}
