@use '../../theme/utils';

$card-height: 8rem;
$card-border: 4px;

.product {
  max-width: 6.5rem;
  height: $card-height;
  user-select: none;

  @include utils.add-shadow('product__content');

  &--draggable {
    &:hover {
      cursor: grab;
    }

    &.draggable-mirror {
      cursor: grabbing;
      & .product__content {
        transform: scale(1.1);
      }
    }

    &.draggable-source--is-dragging {
      transform: translateZ(0);
      opacity: 0.5;
    }
  }

  &__content {
    position: relative;
    border: $card-border solid var(--text-high);
    box-sizing: border-box;
    height: $card-height;
    display: flex;
    flex-direction: column;
    background: var(--background);
    @include utils.spacing-axis('x', 'padding', utils.spacing(1));
  }

  &__image {
    height: 3rem;
    @include utils.spacing-axis('y', 'padding', 0.25rem);
    object-fit: contain;
  }

  &__name {
    font-weight: 600;
    font-size: 0.9rem;
    max-height: 2rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__store {
    font-size: 0.75rem;
    max-height: 1rem;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: var(--text-medium);
  }

  &__price {
    margin-left: auto;
    margin-top: auto;
    display: flex;
    font-weight: 600;
    align-items: baseline;
  }

  &__dollar-sign {
    font-size: 0.75rem;
    color: var(--text-low);
  }

  &__dollar {
    font-size: 1rem;
  }

  &__cents {
    font-size: 0.75rem;
  }

  &__action {
    &:hover {
      cursor: pointer;
    }
    position: absolute;
    height: 22px;
    width: 22px;
    right: -$card-border;
    top: -$card-border;
    background: var(--text-high);
    color: var(--background);
    font-size: 1rem;
  }
}
