@use 'utils';

@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400..800&display=swap');

:root {
  --base-primary-color: 56deg, 100%;
  --base-text-color: 355deg, 0%, 0%;
  --base-spacing: 8px;
  --background: hsl(0 0% 100%);
  --body-font: 'Overpass', sans-serif;
  @include utils.generate-palette(var(--base-primary-color), 'primary');
  @include utils.generate-text-palette(var(--base-text-color));
}

html {
  background-color: var(--background);
  font-family: var(--body-font);
  color: var(--text-high);

  font-size: 18px;

  @include utils.breakpoint-down('sm') {
    font-size: 14px;
  }
}
