@use '../utils';

.button {
  border: 0;
  font-family: Overpass;
  font-weight: 700;
  text-transform: uppercase;
  &:hover {
    cursor: pointer;
  }

  &--link {
    color: var(--color-primary-50);
    background: none;
  }

  &--full-width {
    width: 100%;
  }

  &--large {
    height: 2rem;
  }

  &--contained {
    background-color: var(--color-primary-50);
    // border: 4px solid var(--text-high);
  }
}
